@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: uf;
    src: url("../../fonts/FiraCodeNerdFont-Medium.ttf");
}

.wrapper {
    height: fit-content;
    background-color: #242734;
    /* font-size: min(1.2rem, 1vw); */

    padding: 50px 17vw;
    /* padding-right: 0; */
    font-family: uf;
    color: white;
    padding-bottom: min(12vw, 150px);

}

.school_wrapper {
    display: flex;
    font-size: min(1.2rem, 4vw);
    /* width: 900px; */
    gap: min(15rem, 10vw);
}

.school {
    margin-top: 30px;
    border-left: 3px solid #fdc35c;
    padding-left: 20px;
    width: 500px;
}

.greyed {
    color: #696e7b;
    font-size: min(1rem, 4vw);


}

.small_info {
    margin-top: 20px;
    font-size: min(1rem, 4vw);

    color: rgba(245, 245, 245, 0.76);
}

@media screen and (max-width: 1300px) {
    .wrapper {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media screen and (max-width: 980px) {
    .school_wrapper {
        flex-direction: column;
        gap: 1rem;
        /* width: 100%; */
    }

    .school {
        margin-top: 30px;
        border-left: 3px solid #fdc35c;
        padding-left: 20px;
        width: unset;
    }

}
/* initial hidden state */
.school_wrapper {
  opacity: 0;
  transform: translateY(30px);
}


/* revealed */
.reveal {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* stagger cards */
.reveal > * {
  opacity: 0;
  transform: translateY(20px);
  animation: cardReveal 0.6s ease-out forwards;
}

.reveal > *:nth-child(1) {
  animation-delay: 0.2s;
}

.reveal > *:nth-child(2) {
  animation-delay: 0.4s;
}

@keyframes cardReveal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
