@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: uf;
    src: url("../../fonts/FiraCodeNerdFont-Medium.ttf");
}

.box {
    background-color: #242734;
    min-height: 200px;
    width: 100%;
    border-radius: 10px;
    color: white;
    display: flex;
    margin-top: 40px;
    padding: 5px;
}

.tags {
    display: flex;
    gap: 10px;
}

.tags .tag {
    background-color: #323647;
    width: fit-content;
    margin-top: 3px;
    padding: 3px;
}

.wrapper {
    padding: 0 17vw;
    padding-top: min(5vw, 40px);
    padding-bottom: min(8vw, 40px);
    background-color: #323647;
    font-family: uf;
    /* display: flex; */
    /* flex-direction: column; */
}

.left {
    /* border-radius: 10px; */
    /* border: 2px solid #fdc35c; */
    /* border-right: 10px solid #fdc35c; */
    border-right: 2px solid #242734;
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    border-radius: 10px;
    /* border: 0.4px solid #ffffff3d; */
    /* padding: 10px; */
    height: 200px;
}

.right {
    text-align: left !important;

    /* border-left: 3px solid #fdc35c; */
    font-weight: bold;
    font-size: min(1rem, 4vw);
    padding: 20px;
    flex: 1;
}

.title {
    font-size: 1.4rem;
    color: #fdc35c;
    font-weight: bold;
    font-family: Poppins;
}

.info {
    line-height: 22px;
    /* height: 1190px; */
    max-width: 700px;
    margin-top: 10px;
    font-size: min(1rem, 3vw);
    font-weight: normal;
    color: whitesmoke;
    /* padding-left: 10px; */
}
.box{
    transition: 0.3s ease-in-out;
}
.box:hover {
    cursor: pointer;
    transform: scale(1.03);
}

@media screen and (max-width: 1300px) {
    .wrapper {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media screen and (max-width: 800px) {
    .left {
        /* border-radius: 10px; */
        /* border: 2px solid #fdc35c; */
        /* border-right: 10px solid #fdc35c; */
        border-right: 2px solid #242734;
        background-size: cover;
        background-repeat: no-repeat;
        width: 80vw;
        height: 46vw;
        border-radius: 10px;
        /* height: calc(400 * 720/1280); */
        /* height: 300px; */
    }

    .box {
        width: 80vw;
        /* height: 46vw; */
        /* padding: 5px; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .right {
        padding-top: 0;
    }
}

.link {
    all: unset;
    padding-top: 20px;
    color: #ffffff98;
    border-bottom: 1px solid #666870;
    /* background-color: ; */
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}