@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: uf;
    src: url("../fonts/FiraCodeNerdFont-Medium.ttf");
}

.wrapper {
    font-family: 'Poppins', uf;
    height: fit-content;
    width: 100vw;
    padding-top: min(5vw, 40px);
    padding-bottom: min(8vw, 40px);
    color: #fdc35c;
    display: flex;
    /* padding-left: 17vw; */
    /* font-weight: bolder; */
    justify-content: center;
    align-items: center;
    /* font-size: min(1.2rem, 4vw); */
    box-sizing: border-box;
    background-color: #323647;
    /* padding-right: 17vw; */

}

.connect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 20px;

    color: aliceblue;
    /* font-family: ; */
    font-size: min(3rem, 7vw);
}

.header {
    font-size: min(3rem, 7vw);

}

.made {
    color: white;
    font-size: min(1.5rem, 5vw);
}