

.wrapper_cp {
    padding: 0 17vw;
    background-color: #242734;
    padding-top: min(5vw, 40px);
    padding-bottom: min(8vw, 40px);
    /* background-color: ; */
}

.cp-card {
    flex-grow: 1;
}

@media screen and (max-width: 750px) {
    .cp-card {
        width: 100%;
    }
}

.cpcard-list {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    background-color: #242734;
}

.rating-big span {
    /* background-color: aqua; */
    font-size: 4rem;
    /* color: var(--themecol); */
}

.rating-smol span {
    /* background-color: aqua; */
    font-size: 2.3rem;
    /* color: var(--themecol); */
}

@media screen and (max-width: 1300px){
    .wrapper_cp{
        padding-left: 10vw;
        padding-right: 10vw;
    }
}