@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: uf;
    src: url("../fonts/FiraCodeNerdFont-Medium.ttf");
}

.wrapper {
    position: fixed;
    opacity: 1;
    z-index: 10;
    font-family: 'Poppins', uf;
    height: min(23vw, 100px);
    width: 100vw;
    padding-top: min(8vw, 40px);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    padding-left: 17vw;
    font-weight: bolder;
    font-size: min(1.8rem, 5vw);
    box-sizing: border-box;
    background-color: #323647c7;
    padding-right: calc(17vw + 105px);
    color: white;
}

.left {
    flex: 2;
    display: flex;
    /* background-color: red; */

}


.right {
    flex: 1;
    text-align: right;
    /* background-color: red; */
    color: #fdc35c;
}

.left button {
    all: unset;
    margin-right: 40px;
}

.right button {
    all: unset;
    transition: ease-in-out 0.2s;

}
.right button:hover{
    transform: scale(1.05) ;
    transition: ease-in-out 0.2s;
}


@media screen and (max-width: 1300px) {
    .wrapper {
        padding-left: 10vw;
        padding-right: calc(10vw + 100px);
    }
}

@media screen and (max-width: 980px) {
    .wrapper {
        /* padding-left: 10vw; */
        padding-right: 10vw;
    }

    .left {
        flex: 1;
    }

    .right {
        text-align: right;
    }


}